<!DOCTYPE html>
{% load staticfiles %}
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'style.css' %}">
        <title>Números Primos</title>
    </head>
    <body>
        <div id="main" class="container-fluid d-flex flex-column align-items-center justify-content-center">
            <h4 class="p-4 text-center">Digite um número para verificar se ele é primo</h4>
            <form class="row justify-content-center" id="prime-form">
                <div class="col-sm-8 form-group">
                    <input type="number" name="number" min="1" class="form-control">
                </div>
                <div class="col-xs-4">
                    <button type="submit" class="btn btn-primary">Verificar</button>
                </div>
            </form>
            <div>
                <ul id="results">
                    <li id="result-browser" class="result-li">
                        <i class="fas fa-spinner fa-pulse" data-fa-transform="grow-16"></i>
                        <h6 class="p-2 m-0">Resultado do Browser</h6>
                        <ul>
                            <li>
                                <span id="text-browser"></span>
                                <i id="tooltip-browser" class="fas fa-exclamation-circle" data-toggle="tooltip" data-placement="top"></i>
                            </li>
                            <li id="delta-browser"></li>
                        </ul>
                    </li>
                    <li id="result-server" class="result-li">
                        <i class="fas fa-spinner fa-pulse" data-fa-transform="grow-16"></i>
                        <h6 class="p-2 m-0">Resultado do Servidor</h6>
                        <ul>
                            <li>
                                <span id="text-server"></span>
                                <i id="tooltip-server" class="fas fa-exclamation-circle" data-toggle="tooltip" data-placement="top"></i>
                            </li>
                            <li id="delta-server"></li>
                        </ul>
                    </li>
                    <li id="result-db" class="result-li">
                        <i class="fas fa-spinner fa-pulse" data-fa-transform="grow-16"></i>
                        <h6 class="p-2 m-0">Resultado do Banco de Dados</h6>
                        <ul>
                            <li>
                                <span id="text-db"></span>
                                <i id="tooltip-db" class="fas fa-exclamation-circle" data-toggle="tooltip" data-placement="top"></i>
                            </li>
                            <li id="delta-db"></li>
                        </ul>
                    </li>
                    <li id="result-fermat" class="result-li">
                        <i class="fas fa-spinner fa-pulse" data-fa-transform="grow-16"></i>
                        <h6 class="p-2 m-0">
                            Resultado do Teste de Primalidade de Fermat
                            <i id="fermat-warning" class="fas fa-exclamation-circle" data-toggle="tooltip" data-placement="top" title="Importante: este método pode não ser consistente para números grandes"></i>
                        </h6>
                        <ul>
                            <li>
                                <span id="text-fermat"></span>
                                <i id="tooltip-fermat" class="fas fa-exclamation-circle" data-toggle="tooltip" data-placement="top"></i>
                            </li>
                            <li id="delta-fermat"></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
        <script src="{% static 'script.js' %}"></script>
    </body>
</html>